* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: heroic_title;
    src: url('../fonts/ERASDEMI.TTF');
}

@font-face {
    font-family: titles;
    src: url('../fonts/HEMIHEAD.TTF');
}

@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}


.heroic {
    height: 100vh;
    width: 100%;
    background-color: #ffff;
}
.content {
    height: 30vh;
    width: 100%;
    position: relative;
    top: -200px;
}
.content .msg{
    font-family: roboto;
    letter-spacing: .5px;
    font-size: 26px;
}
.content .main_msg {
    font-family: heroic_title;
    font-size: 32px;
}