
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: heroic_title;
    src: url('../fonts/ERASDEMI.TTF');
}

@font-face {
    font-family: titles;
    src: url('../fonts/HEMIHEAD.TTF');
}

@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}

.website{
    min-height: 100vh;
    background-color: #000;
    overflow-x: hidden;
}

.navbar {
    height: 9vh !important;
    width: 100%;
    background-color: #000 !important;
    color: azure;
    position: fixed;
}
.logoname {
    height: 5vh;
    width: auto;
}

.page{
    width: 100%;
    min-height: 100vh;
}
.page2{
    width: 100%;
    min-height: 100vh;
    background-color: #FFF;
    background-image: url('../images/category_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.page2 .page_title{
    font-size: 24px;
}
.page2 .block h5{
    font-size: 18px !important;
}
.page3{
    width: 100%;
    min-height: 100vh;
    background-color: #FFF;
}

.heroic {
    display: flexbox;
    text-align: center;
    background-image: url('../images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.heroic .main_title {
    font-size: 44px;
    font-family: heroic_title;
    color: azure;
    margin-top: 100px;
}

.heroic .sub_title {
    font-size: 14px;
    text-justify: auto;
    font-family: heroic_title;
    letter-spacing:  0.5px;
}

.heroic .hero .heroic_img {
    height: 400px;
    width: auto;
}

.button_bg{
    background: linear-gradient(-160deg, #5a4ade, #f30165);
    font-size: 16px;
    font-family: roboto;
    letter-spacing: 2px;
}

.button_bg:hover{
    background: linear-gradient(-160deg, #f30165, #5a4ade);
}




.evolve .page_title{
    font-family: titles;
    color: azure;
    font-size: 48px;
    overflow: hidden;
}

.evolve p {
    font-family: roboto;
    letter-spacing: 1px;
    font-size: 16px;
    color: rgba(240, 248, 255, 0.732);
}

.material-symbols-outlined{
    position: relative;
    top: 8px;
    color: #ea29ee;
}


.page_title{
    font-size: 34px;
    font-family: titles;
}

.block {
    width: 100%;
    height: 140px;
}

.contact_container {
    width: 100%;
    height: 380px;
    border-radius: 8px;
    z-index: 200;
    color: #000000;
    font-size: 20px;
    background-color: #ffffff;
    font-family: roboto;
    border: 4px solid #5a4ade;
    z-index: 200;
    position: relative;
    top: 80px;
    right: -140px;
}

.contact_form_container {
    width: 100%;
    height: 480px;
    z-index: 0;
}

.contact_form_container .blocktitle {
    font-family: heroic_title;
    font-size: 28px;
    letter-spacing: .5px;
}

.contact_form_container .labels{
    font-family: roboto;
    letter-spacing: .5px;
    font-weight: 700;
}

.contact_form_container .content {
    padding-left: 160px;
}

.contact_footer{
    position: relative;
    left: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 80px;
    background-color: #5a4ade;
}

.footer{
    position: relative; 
    min-height: 30vh;
}

.footer_image{
    background-color: #FFF;
}










.site-navbar {
  position: fixed;
  top: 0;
  margin-bottom: 0px;
  background-color: #000;
  z-index: 1999;
  width: 100%;
  color: #FFF;
}

.site-navbar .toggle-button {
  position: absolute;
  right: 0px;
}

.site-navbar .site-logo {
  position: absolute;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 0;
  margin: 0;
  padding: 0;
  z-index: 3;
}

@media (max-width: 991.98px) {
  .site-navbar .site-logo {
    float: left;
    position: relative;
  }
}

.site-navbar .site-navigation.border-bottom {
  border-bottom: 1px solid white !important;
}

.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu .active {
  color: #007bff !important;
}

.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
}

.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
}

.site-navbar .site-navigation .site-menu > li > a {
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px 0px;
  color: #ffffff !important;
  display: inline-block;
  text-decoration: none !important;
  display: flex; /* Make anchor tags flexible */
  align-items: center; /* Vertically align the image and text */
  justify-content: flex-start; /* Align items to the left */
}

.site-navbar .site-navigation .site-menu > li > a img {
  margin-right: 10px; /* Add space between image and text */
  max-width: 30px; /* Adjust the size of the image */
  height: auto; /* Maintain aspect ratio of the image */
}

.site-navbar .site-navigation .site-menu > li > a:hover {
  color: #007bff;
}

.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}

.site-navbar .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children > a:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'icomoon';
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  border-top: 2px solid #007bff;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  display: none;
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #000 !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
  color: #007bff !important;
  background: #f8f9fa;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  padding: 9px 20px;
  display: block;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
  background: #f8f9fa;
  color: #ced4da;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
  content: "\e315";
  right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown,
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
  left: 100%;
  top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a,
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a,
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
  background: #f8f9fa;
  color: #ced4da;
}

.site-navbar .site-navigation .site-menu .has-children:hover > a,
.site-navbar .site-navigation .site-menu .has-children:focus > a,
.site-navbar .site-navigation .site-menu .has-children:active > a {
  color: #007bff;
}

.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #000000;
  color: #FFF;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #ced4da;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529;
}

.site-mobile-menu .site-nav-wrap a:hover {
  color: #007bff;
}

.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}

.site-mobile-menu .site-nav-wrap li .nav-link.active {
  color: #007bff;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icomoon";
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 20px;
}

.site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 16px;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] > li {
  width: auto;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
  padding-left: 15px !important;
}
